{% extends 'base.html' %}

{% block content %}









<div style="font-family: 'Nanum Myeongjo'; text-align:center; margin: 3rem 0rem 2rem 5rem ; float: left; width: 30%;">

<img style="width:20rem" src="{{ target_book.image.url }}"/>
            </img>
    <h2 style="margin: 0.5rem">
                {{ target_book.title }}
            </h2>
           <h5>
                {{ target_book.writer }}
            </h5>
       {%if user.is_authenticated %}
            {% if not bookshelf %}
            <a class="btn btn-dark rounded-pill col-6 mt-3" href="{% url 'bookshelfapp:mybookshelf' %}?book_pk={{target_book.pk }}">
                내 책장 담기
            </a>
            {% else %}
            <a class="btn btn-dark rounded-pill col-6 mt-3" href="{% url 'bookshelfapp:mybookshelf' %}?book_pk={{target_book.pk }}">
                내 책장에서 삭제
            </a>
            {% endif %}
            {% endif %}
</div>
<div style="float: left; margin: 2rem 2rem 1rem 0rem ;width: 60%;font-family: 'Nanum Myeongjo' ">

    {% for review in target_book.review.all %}
    <div>
                <h2>감상평</h2>

        <h5>작성자:{{ review.writer }}</h5>
        {{ review.review }}</div>

    <div style="margin: 2rem 0rem">
        <h2>필사</h2>
        <h5>작성자: {{ review.writer}}</h5>
        {{review.transcription}}
    </div>
    {% endfor %}
</div>




{% endblock %}