{% extends 'base.html' %}

{% block content %}

<style>
.parent {
    display: flex;
    }
.parent .child{
flex: 1;

}


</style>
<div class="parent">
    <div class='child' style="text-align: center; margin-top: 4rem">

<img style="width:20rem" src="{{ target_book.image.url }}"/>
            </img>
    <h2 style="margin: 0.5rem">
                {{ target_book.title }}
            </h2>
           <h5>
                {{ target_book.writer }}
            </h5>
       {%if user.is_authenticated %}
            {% if not bookshelf %}
            <a class="btn btn-dark rounded-pill col-6 mt-3" href="{% url 'bookshelfapp:mybookshelf' %}?book_pk={{target_book.pk }}">
                내 책장 담기
            </a>
            {% else %}
            <a class="btn btn-dark rounded-pill col-6 mt-3" href="{% url 'bookshelfapp:mybookshelf' %}?book_pk={{target_book.pk }}">
                내 책장에서 삭제
            </a>
            {% endif %}
            {% endif %}</div>

<div class='child' style="margin-top: 4rem; padding-right: 5rem">
<h2>감상평</h2>
{% for review in target_book.review.all %}
    <div style="margin: 2rem 0rem">
         <img src={{ review.writer.profile.url }} alt="" style="height: 4rem; width: 4rem; border-radius: 10rem;display:inline"/>
        <h5 style="display:inline">&nbsp{{ review.writer.nickname }}</h5>
        <p class="indent"></p>
        <p>{{ review.review }}</p>
    </div>
{% endfor %}
</div>


<div class='child' style="margin-top: 4rem; padding-right: 5rem">
<h2>필사</h2>
{% for review in target_book.review.all %}
    <div style="margin: 2rem 0rem">
                 <img src={{ review.writer.profile.url }} alt="" style="height: 4rem; width: 4rem; border-radius: 10rem;display:inline"/>
        <h5 style="display:inline">&nbsp{{ review.writer.nickname }}</h5>
        <p class="indent"></p>
        <p>{{review.transcription}}</p>
    </div>
{% endfor %}
</div>

</div>

{% endblock %}