{% extends 'base.html' %}

{% block content %}

    <div>
        <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
            <img>
        <div><img src="{{ target_book.image.url }}"/></div>
            </img>
            <h2>
                {{ target_book.title }}
            </h2>
            <h2>
                {{ target_book.writer }}
            </h2>
            <h2>
                {{ target_book.keyword }}
            </h2>
            {% if not bookshelf %}
            <a href="{% url 'bookshelfapp:mybookshelf' %}?book_pk={{target_book.pk }}">
                내 책장 담기
            </a>
            {% else %}
            <a href="{% url 'bookshelfapp:mybookshelf' %}?book_pk={{target_book.pk }}">
                내 책장에서 삭제
            </a>
            {% endif %}
        </div>
    </div>

{% endblock %}