{% extends 'base.html' %}

{% block content %}



    <div>
                 <div class="text-center my-5">
                <img src={{ user.profile.url }} alt="..." style="height: 10rem; width: 10rem; border-radius: 10rem; margin-bottom:2rem;"/>
                <span>
                    <h5>{{ user.nickname }}</h5>
                </span>
                <p>{{ user.email }}</p>
         </div>
        <div style="text-align: center; max-width: 500px; margin: 4rem auto;">

            {% if target_user == user %}
<div>
            <button style="width: 8rem; margin-bottom: 1rem" type="button" class="btn btn-outline-secondary"> <a href="{% url 'accountapp:update' pk=user.pk %}" style="text-decoration:none; color: black">
                <p>
                    정보 변경하기
                </p>
            </a></button>
</div>
<div>
            <button type="button" class="btn btn-outline-secondary" style="width: 8rem">

            <a href="{% url 'accountapp:delete' pk=user.pk %}" style="text-decoration:none; color: black; ">
                <p>
                    탈퇴
                </p>
                        </a>
            </button>
</div>
            {% endif %}
        </div>
    </div>

{% endblock %}