
{% extends 'base.html' %}

{% block content %}
<div>



              <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." />
                <span>
                    <h5>닉네임</h5>
                </span>
                <p>아이디</p>
            </div>

    <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-1">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                                {% for mybook in mybook_list %}
        <div><img class="card-img-top" src="{{ mybook.book.image.url }}"/></div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ mybook.book.title }}</h5>
                                    <!-- Product price-->

                                    <a style="text-decoration:none; color: black"href="{% url 'reviewapp:review' pk=mybook.book.pk u_pk=mybook.user.pk%}"><h5>{{ mybook.book.writer }}</h5></a>
                                </div>
                            </div>
                            <!-- Product actions-->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                    {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>

{% endblock %}

