{% extends 'base.html' %}
{% block content %}
<div style="text-align:center; margin: 4rem 0rem 2rem 6rem ; float: left; width: 33%; font-family: 'Nanum Myeongjo'">

<img style="width:23rem" src="{{ target_book.image.url }}"/>
            </img>
     <h2 style="margin: 1rem">
                {{ target_book.title }}
            </h2>
           <h5>
                {{ target_book.writer }}
            </h5>
</div>
<div style="float: left; margin: 0rem 2rem 1rem 0rem ;width: 59%; ">

{% if target_book.review.writer == user %}
{% else %}
       {% include 'reviewapp/write.html' with book=target_book %}

        {% for review in target_book.review.all %}
        {% include 'reviewapp/reviewdetail.html' with review=review %}
    {% endfor %}

{% endif %}
</div>
{% endblock %}